

/* nav bar styles */

.nav-bar{
    height: 5rem;
    width: 100%;
    background-color:#283b29 !important;
}


/* Home Page styles Start */

.btn-recommendations{
    padding: 1rem;
    width: 10rem;
    border-radius: 2rem;
    margin: 3rem 12rem;
    box-shadow: 3px 5px 5px 5px rgb(95, 71, 71);
}
.btn-recommendations:hover{
    transition: all;
    transform: scale(1.2);
    
}
.text-recommendations{
    align-content: center;
    justify-content: center;
}
/* Home Page styles End */

/* footer styles */

.footer-bg{
    background-color:#0d1b2a !important;
}

